{#  -*- coding: utf-8 -*- #}
{% extends 'base.tmpl' %}
{% import 'archive_navigation_helper.tmpl' as archive_nav with context %}
{% import 'feeds_translations_helper.tmpl' as feeds_translations with context %}

{% block extra_head %}
    {{ feeds_translations.head(kind=kind, rss_override=False) }}
{% endblock %}

{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col">
            <article class="listpage">
                <header class="mt-5">
                    <h1 class="display">{{ title|e }}</h1>
                </header>
                {{ archive_nav.archive_navigation() }}
                {{ feeds_translations.translation_link(kind) }}
                {% if posts %}
                {% for post in posts %}
                <p class="mb-1">
                    <a href="{{ post.permalink() }}" class="listtitle">{{ post.title()|e }}</a> -
                    <time class="listdate" datetime="{{ post.formatted_date('webiso') }}" title="{{ post.formatted_date(date_format)|e }}">
                        {{ post.formatted_date(date_format)|e }}
                    </time>
                </p>
                {% endfor %}
                {% else %}
                <p>{{ messages("No posts found.") }}</p>
                {% endif %}
            </article>
        </div>
    </div>
</div>
{% endblock %}
