{#  -*- coding: utf-8 -*- #}
{% import 'post_helper.tmpl' as helper with context %}
{% import 'comments_helper.tmpl' as comments with context %}
{% import 'author_helper.tmpl' as author_helper with context %}

{% macro html_title() %}
{% if title and not post.meta('hidetitle') %}
    <h1 class="p-name entry-title display mt-5" itemprop="headline name"><a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a></h1>
    {% if post.meta('subtitle') %}
        <h2 class="p-name entry-subtitle display"> {{ post.meta('subtitle') }}</h2>
    {% endif %}
{% endif %}
{% endmacro %}

{% macro html_title_no_link() %}
{% if title and not post.meta('hidetitle') %}
    <h1 class="p-name entry-title display mt-5" itemprop="headline name">{{ post.title()|e }}</h1>
    {% if post.meta('subtitle') %}
        <h2 class="p-name entry-subtitle display"> {{ post.meta('subtitle') }}</h2>
    {% endif %}
{% endif %}
{% endmacro %}

{% macro html_translations(post) %}
    {% if post.translated_to|length > 1 %}
        <div class="metadata posttranslations translations">
            <h3 class="posttranslations-intro">{{ messages("Also available in:") }}</h3>
            {% for langname in translations|sort %}
                {% if langname != lang and post.is_translation_available(langname) %}
                <p><a href="{{ post.permalink(langname) }}" rel="alternate" hreflang="{{ langname }}">{{ messages("LANGUAGE", langname) }}</a></p>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro html_sourcelink() %}
    {% if show_sourcelink %}
        <p class="sourceline"><a href="{{ post.source_link() }}" class="sourcelink">{{ messages("Source") }}</a></p>
    {% endif %}
{% endmacro %}

{% macro html_post_header(post) %}
    <header>
        <h1 class="p-name entry-title"><a href="{{ post.permalink() }}" class="u-url">{{ post.title()|e }}</a></h1>
        {% if post.meta('subtitle') %}
            <h2 class="p-name entry-subtitle"> {{ post.meta('subtitle') }}</h2>
        {% endif %}
        <div class="metadata">
            <p class="byline author vcard p-author h-card"><span class="byline-name fn p-name" itemprop="author">
                {{ author_helper.author_post_image(post) }}
                {% if author_pages_generated %}
                    <a class="u-url" href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
                {% else %}
                    {{ post.author()|e }}
                {% endif %}
            </span></p>
            <p class="dateline">
            <a href="{{ post.permalink() }}" rel="bookmark">
            <time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time>
            {% if post.updated and post.updated != post.date %}
                <span class="updated"> ({{ messages("updated") }}
                    <time class="updated dt-updated" datetime="{{ post.formatted_updated('webiso') }}" itemprop="dateUpdated" title="{{ post.formatted_updated(date_format)|e }}">{{ post.formatted_updated(date_format)|e }}</time>)</span>
            {% endif %}
            </a>
            </p>
            {% if not post.meta('nocomments') and site_has_comments %}
                <p class="commentline">{{ comments.comment_link(post.permalink(), post._base_path) }}
            {% endif %}
            {{ html_sourcelink() }}
            {% if post.meta('link') %}
                <p class="linkline"><a href="{{ post.meta('link') }}">{{ messages("Original site") }}</a></p>
            {% endif %}
            {{ helper.html_tags(post) }}
        </div>
        {{ html_translations(post) }}
    </header>
{% endmacro %}

{% macro html_post_card_header(post) %}
    <div class="row align-items-center mb-3">
        <div class="col-auto">
            {{ author_helper.author_post_image(post) }}
        </div>
        <div class="col">
            {% if author_pages_generated %}
                <a class="u-url" href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
            {% else %}
                {{ post.author()|e }}
            {% endif %}
            <div class="w-100"></div>
            <a href="{{ post.permalink() }}" rel="bookmark">
                <time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time>
                {% if post.updated and post.updated != post.date %}
                    <span class="updated"> ({{ messages("updated") }}
                        <time class="updated dt-updated" datetime="{{ post.formatted_updated('webiso') }}" itemprop="dateUpdated" title="{{ post.formatted_updated(date_format)|e }}">{{ post.formatted_updated(date_format)|e }}</time>)</span>
                {% endif %}
            </a>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            {% if post.meta('subtitle') %}
            <h3 class="mb-2">{{ post.title()|e }}</h3>
            <h4 class="mb-0 text-muted"> {{ post.meta('subtitle') }}</h4>
            {% else %}
            <h3 class="mb-0">{{ post.title()|e }}</h3>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro html_post_header_no_link(post) %}
    <header>
        <h1 class="p-name entry-title display mt-5">{{ post.title()|e }}</h1>
        {% if post.meta('subtitle') %}
            <h2 class="p-name entry-subtitle display text-muted"> {{ post.meta('subtitle') }}</h2>
        {% endif %}
        <div class="row align-items-center my-3">
            <div class="col-auto">
                {{ author_helper.author_post_image(post) }}
            </div>
            <div class="col">
                {% if author_pages_generated %}
                <span class="by-line">
                    <a href="{{ _link('author', post.author()) }}">{{ post.author()|e }}</a>
                </span>
                {% else %}
                    {{ post.author()|e }}
                {% endif %}
                <div class="w-100"></div>
                <span class="date-line">
                    <a href="{{ post.permalink() }}" rel="bookmark">
                        <time class="published dt-published" datetime="{{ post.formatted_date('webiso') }}" itemprop="datePublished" title="{{ post.formatted_date(date_format)|e }}">{{ post.formatted_date(date_format)|e }}</time>
                        {% if post.updated and post.updated != post.date %}
                        <span class="updated"> ({{ messages("updated") }}
                            <time class="updated dt-updated" datetime="{{ post.formatted_updated('webiso') }}" itemprop="dateUpdated" title="{{ post.formatted_updated(date_format)|e }}">{{ post.formatted_updated(date_format)|e }}</time>)</span>
                        {% endif %}
                    </a>
                </span>
                {% if not post.meta('nocomments') and site_has_comments %}
                <div class="w-100"></div>
                <span class="comment-line">
                    {{ comments.comment_link(post.permalink(), post._base_path) }}
                </span>
                {% endif %}
            </div>
        </div>
        <div class="metadata">
            {{ html_sourcelink() }}
            {% if post.meta('link') %}
                <p class="linkline"><a href="{{ post.meta('link') }}">{{ messages("Original site") }}</a></p>
            {% endif %}
            <div class="w-100 my-2"></div>
            {{ helper.html_tags(post) }}
        </div>
        {{ html_translations(post) }}
    </header>
{% endmacro %}
