/* Various Styles */
/* body {
	color: #333333;
	font-family: 'Montserrat', sans-serif;
} */

.hero {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .12);
}

.hero p.lead {
    font-size: 1.5rem;
}

.hero .btn-lg {
    min-width: 150px;
    font-weight: 700;
}

.feature-list {
    padding-top: 2rem;
}

.feature-list .row {
    margin: 0 0 4rem 0;
}

.feature-list p.feature {
    font-size: 1.25rem;
    margin-bottom: .25rem;
}

.recent-blogs {
    border-left: 1px solid rgba(0, 0, 0, .12);
    padding-top: 2rem;
}

.libraries p.card-text,
.libraries a.card-link {
    font-size: .875rem;
}

.card-link+.card-link {
    margin-left: 1rem;
}

.entry-content {
    margin-top: 0;
}

#logo {
  height: 50px;
  width: auto;
}

/* navbar */
nav.navbar.bg-light {
	background-image: none;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
}

/* Override nikola_ipython.css */
div.prompt {
    display: none;
}

div.input  {
    border: none;
    background-color: none;
}

div.input * {
    background-color: none;
}

div.rendered_html h2:first-child {
    margin-top: 0.1em;
}

div.rendered_html h3:first-child {
    margin-top: 0.1em;
}

div.rendered_html h4:first-child {
    margin-top: 0.1em;
}

div.rendered_html h5:first-child {
    margin-top: 0.1em;
}

div.rendered_html h6:first-child {
    margin-top: 0.1em;
}

div.text_cell_render.rendered_html h1 {
    font-size: 2.5rem;
    margin-top: 0.1em;
    font-weight: 500;
    line-height: 1.2;
    color: #2d2d2d;
}

div.text_cell_render.rendered_html h2 {
    font-size: 2rem;
    margin-top: 0.1em;
    font-weight: 500;
    line-height: 1.2;
    color: #2d2d2d;
}

div.text_cell_render.rendered_html h3 {
    font-size: 1.75rem;
    margin-top: 0.1em;
    font-weight: 500;
    line-height: 1.2;
    color: #2d2d2d;
}

div.text_cell_render.rendered_html h4 {
    font-size: 1.5rem;
    margin-top: 0.1em;
    font-weight: 500;
    line-height: 1.2;
    color: #2d2d2d;
}

div.text_cell_render.rendered_html h5 {
    font-size: 1.25rem;
    margin-top: 0.1em;
    font-weight: 500;
    line-height: 1.2;
    color: #2d2d2d;
}

div.text_cell_render.rendered_html h6 {
    font-size: 1rem;
    margin-top: 0.1em;
    font-weight: 500;
    line-height: 1.2;
    color: #2d2d2d;
}

/* Post Styles */
img.author-image {
    height: 75px;
    width: auto;
    border-radius: 50%;
}

img.author-image.default {
    border-radius: 0;
}

.card img.author-image {
    height: 50px;
}

span.date-line::before {
    content: " on ";
}

span.by-line::before {
    content: " by ";
}

span.comment-line::before {
    content: " with ";
}

.metadata p.commentline {
	display: inline-block;
	padding: 0px;
	padding-top: 5px;
	margin-bottom: 0px;
}

ul.tags {
	display: block;
	padding: 10px;
	padding-top: 5px;
	text-align: left;
	margin-bottom: 0px;
}
