div.list-toggle ul {
	list-style-type: none;
	margin: 0px;
	padding-inline-start: 0px;
}

div.list-toggle ul li p {
	padding: .875rem;
	display: block;
	border: 1px solid #0000001e;
	border-radius: 5px;
	background-color: #fff;
}

div.list-toggle ul li p:hover {
	cursor: pointer;
	text-decoration: underline;
}

div.list-toggle ul li ul {
	display: none;
	margin: 0 2rem .75rem 2rem;
	font-style: italic;
}
