{% macro author_post_image(post) %}
	{% if author_images[post.author()] and not post.author() == 'Matrix Profile Foundation' %}
		<span class="author-post-image">
			<img src="{{ author_images[post.author()] }}" />
		</span>
	{% else %}
		<span class="author-post-image default-author-image">
			<img src="{{ author_images[post.author()] }}" />
		</span>
	{% endif %}
{% endmacro %}